
.form-signin{
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
	color: #ffdfe5
}
#intro2{
	background: url(../img/ai-codes-coding-97077.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	background-size: cover;
}